@import url("mixins.less");
body{
	font:12px normal Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #f8f8f8;
	color:#333;
}
ul{
	margin:0;
	padding:0;
}
li{
	list-style: none;
}
#wrapper{
	width:100%;
	header{
		width:100%;
		clear:both;
		#logo{
			background:#333;
			color:#fff;
			font-size:18px;
			font-weight: bold;
			padding:5px;
			float:left;
		}
		.logGroup,#profile,.guest,.tour{
			float:right;
			margin:5px 10px;
		}
	}
	#container{
		clear:both;
		.citySelection{
			position:absolute;
			width:600px;
			height:300px;
			top:50%;
			left:50%;
			margin:-150px 0 0 -300px;
			background:#fff;
			border:3px solid #ccc;
			border-radius:4px;
			display:none;
			.title{
				font-size: 14px;
				font-weight: bold;
				text-align: center;
			}
			li.city{
				float:left;
				width:30%;
				padding:1%;
				text-align: center;
			}
		}
		nav{
			width:100%;
			clear:both;
			background:#ccc;
			overflow: hidden;
			li{
				float:left;
				border-right:1px solid #fff;
				border-left:1px solid #999;
				padding:10px 15px;
			}
			li:first-child{
			}
		}
	}
	#search{
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-400px;
		width:800px;
		text-align: center;
	}
}
footer{
	clear:both;
	ul#social{
		li{

		}
	}
	ul.menu{
		li{

		}
	}
}