@import url("mixins.less");
body{
	font:12px normal Verdana, Geneva, Arial, Helvetica, sans-serif;
	background: #f8f8f8;
	color:#333;
}
#wrapper{
	width:100%;
	header{
		width:100%;
		#logo{
			background:#333;
			color:#fff;
			font-size:18px;
			font-weight: bold;
			padding:5px;
			float:left;
		}
		#profile{
			float:right;
			
		}
	}
}